.badge.rounded {
  display: inline-flex;
  border-radius: 1rem;
  text-align: center;
  padding: .25rem .5rem;
  padding-top: .3rem;
}

.badge.big {
  padding: .5rem;
}

.badge.badge-green {
  background-color: #122119;
  color: #11c15c;
  border: 1px solid #11c15c;
}

.badge.badge-red {
  background-color: #211212;
  color: #e98b8b;
  border: 1px solid #e98b8b;
}