.card {
  border-color: var(--fc-dt);
  .card-header {
    background: var(--aux-wt);
    padding: .33rem 1rem;
    border-bottom: 1px solid var(--fc-dt);
    font-weight: 500;
  }
  .card-body {
    background: var(--bg-wt);
  }

  .row .col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--border-wt);
  }
}

.card.dt {
  .row .col-2 {
    background-color: var(--aux-dt);
    border-right: 1px solid var(--fc-dt);
  }

  .card-header {
    background: var(--aux2-dt);
    padding: .33rem 1rem;
    border-bottom: 1px solid var(--border-wt);
  }
  .card-body {
    background: var(--aux3-dt);
    color: $white;
  }
}