ul.list-group.ranking {
    li.mais {
        cursor: pointer;
        max-height: 1.25rem;
        min-height: 1.25rem;
        padding: 1rem;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover { background-color: $gray-100; }
    }

    li{
        display: grid;
        grid-template-columns: 95fr 5fr;
        align-items: center;
        padding: 0;
        max-height: 64px;

        &:hover:not(.active) { background-color: $gray-100; }

        .first-part {
            display: grid;
            grid-template-columns: 5fr 95fr;

            .pos {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 .5rem;

                span.num {
                    font-size: 1.25rem;
                }

                span {
                    font-size: .8rem;
                    text-transform: uppercase;
                }
            }

            .about {
                display: flex;
                img {
                    max-width: 54px;
                    border-radius: 50%;
                    margin-right: 1rem;
                }

                .np {
                    h6 { margin: 0; }

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                }
            }
        }

        .second-part {
            width: 100%;
            min-height: 64px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;

            .pts {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;

                span.score {
                    font-weight: 700;
                }
            }

            .chevron {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 60px;
                max-height: 60px;
                padding: 1rem;
                margin: 0 auto;
                cursor: pointer;
            }
        }
    }
}