.navbar {
  padding: 0;
  background-color: darken($light-gray, 2%);
  height: 64px;
  border-bottom: 1px solid var(--border-wt);

  &.dt {
    background-color: var(--aux-dt);
    border-bottom: 1px solid var(--aux3-dt);

    .navbar-brand { color: $white; }

    #titulo a {
      color: $white;
    }

    .menu a.btn {
      background: var(--aux3-dt);
      color: var(--fc-dt);
    }
  }

  .navbar-brand {
    color: $primary-dark;
  }

  #titulo a {
    color: $primary-dark;
  }

  .menu {
    display: flex;

    a.btn {
      background: rgba(219, 218, 218, 0.95);
      color: #5E5E5E;
      border-radius: 10px;
      height: 40px;
      margin-right: 6px;
      &#theme-toggle { margin-right: 0; }
    }
  }
}