dl.row {
  transition: all ease .2s;
}

#profile {
  z-index: 2;
}
.profile {
  background: var(--aux-wt);
  padding: 2.75rem 1rem 1rem 1rem;
  position: relative;
  border-radius: 6px;
  border: 1px solid darken($light-gray, 10%);


  &:not(.dt) {
    .tab-control-container .tab-control button span.badge{
      &.badge-green {
        color: #16693E;
        background-color: #B3FFD6;
      }
      &.badge-red {
        color: #DE5454;
        background-color: #FFD6D6;
      }
    }
  }

  &.dt {
    border: 1px solid rgba($white, .3);
    background: var(--aux-dt);

    .tab-control-container .tab-control {
      background: var(--aux-dt);
      border: 1px solid rgba($white, .3);

      a {
        color: var(--fc-dt);
        &.active {
          color: var(--fc-wt);
          background-color: #acacac;
          border-top: 1px solid #343637;
          box-shadow: 0 0 4px 0px rgba(#111213, .7);
        }
      }
    }

    .close button svg {
      fill: $primary-dark;
    }

    .tabs .tab#sobre .nome {
      color: $white;
    }
  }

  .close {
    display: none;
  }

  .tab-control-container {
    position: absolute;
    top: -1.4rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;

    .tab-control {
      background: $light-gray;
      border: 1px solid darken($light-gray, 10%);
      position: absolute;
      display: flex;
      width: fit-content;
      padding: .4rem .6rem;
      border-radius: 6px;

      a {
        font-size: 1rem;
        font-weight: 500;
        color: var(--fc-wt);
        border-radius: 8px;
        margin-right: 3px;
        user-select: none;
        &:last-child { margin-right: 0; }

        .badge {
          font-size: .6rem;
        }

        &.active {
          background-color: $white;
          border-top: 1px solid white;
          box-shadow: 0 0 0 1px rgba(0,0,0,.1);
        }
      }
    }
  }
}

.tabs {
  .tab {
    display: none;
    &.showhide {
      display: block !important;
    }
  }
}

.nome.dt {
    color: $white !important;
}

.sobre {
    img {
      max-width: 152px;
      max-height: 152px;
      height: 152px;
      width: 152px;
      border-radius: 50%;
      border: 2px solid rgba($white, .8);
      object-fit: cover;
    }

    dl.row {
        max-width: 90%;
        margin: 0 auto;
        margin-top: 1rem;
<<<<<<< HEAD
        dd { text-align: right; }
    }
    .nome {
      margin-top: 1rem;
      font-size: 1.45rem;
      color: $primary-dark;
      display: flex;
      text-transform: capitalize;
=======
        font-size: 1.45rem;
        color: $primary-dark;
        display: flex;
>>>>>>> 9fa535fd49de8e8350310f5e8fa4e3bd43c8b20f

      .badge {
        margin-left: .5rem;
        color: $white;
      }
    }
}

@media (max-width: 992px) {
  #col-5 {
    flex: 1 !important;
    max-width: 100% !important;
  }

  .col.showhide {
    display: none;
  }
  .profile {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0;
    padding: 10rem 1rem 1rem 1rem;

    &.dt .close button svg{
      fill: $white;
    }

    .close {
      display: flex;
      position: absolute;
      top: 4.5rem;
      right: 2rem;
      width: 64px;
      height: 64px;

      button {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;

        svg {
          fill: $primary-dark;
        }
      }
    }

    &.showhide {
      display: none;
    }

    .tabs {
      margin-top: 4rem;

      .tab dl.row {
        max-width: 75%;
      }
    }

    .tab-control-container {
      position: relative;
      top: -1rem;
    }
  }

  .sobre {
    margin-top: 4rem;
}
}

@media (max-width: 640px) {
  .profile .tabs .tab dl.row{
    max-width: 100%;
  }
}

@media (max-height: 851px) {
    .sobre {
        overflow-y: auto;
        max-height: 70vh;
    }
}

@media (max-height: 773px) {
    .sobre {
        overflow-y: auto;
        max-height: 65vh;
    }
}

@media (max-height: 650px) {
    .sobre {
        overflow-y: auto;
        max-height: 55vh;
    }
}