dl.row {
  transition: all ease .2s;
}

#profile {
  z-index: 2;
}
.profile {
  background: $light-gray;
  padding: 2.75rem 1rem 1rem 1rem;
  position: relative;
  border-radius: 6px;
  border: 1px solid darken($light-gray, 10%);


  &:not(.dt) {
    .tab-control-container .tab-control button span.badge{
      &.badge-green {
        color: #16693E;
        background-color: #B3FFD6;
      }
      &.badge-red {
        color: #DE5454;
        background-color: #FFD6D6;
      }
    }
  }

  &.dt {
    border: 1px solid #1D1E20;
    background: var(--aux-dt);

    .tab-control-container .tab-control {
      background: var(--aux2-dt);
      border: 1px solid #1C1D1F;

      button {
        color: var(--fc-dt);
        &.active {
          background-color: var(--aux3-dt);
          border-top: 1px solid #343637;
          box-shadow: 2px 3px 4px 0px #111213;
        }
      }
    }

    .close button svg {
      fill: $primary-dark;
    }

    .tabs .tab#sobre .nome {
      color: $white;
    }
  }

  .close {
    display: none;
  }

  .tab-control-container {
    position: absolute;
    top: -1.4rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;

    .tab-control {
      background: $light-gray;
      border: 1px solid darken($light-gray, 10%);
      position: absolute;
      display: flex;
      width: fit-content;
      padding: .4rem .6rem;
      border-radius: 6px;
      button {
        font-size: .875rem;
        color: var(--fc-wt);
        border-radius: 8px;
        margin-right: 3px;
        &:last-child { margin-right: 0; }

        &.active {
          background-color: $white;
          border-top: 1px solid white;
          box-shadow: 0 0 0 1px rgba(0,0,0,.1);
        }
      }
    }
  }
}

.tabs {
  .tab {
    display: none;
    &.showhide {
      display: block !important;
    }

    dl.row {
      max-width: 90%;
      margin: 0 auto;
      margin-top: 1rem;
      dd { text-align: right; }
    }

    &.sobre {
      img {
        max-width: 152px;
        max-height: 152px;
        height: 152px;
        width: 152px;
        border-radius: 50%;
        border: 2px solid rgba($white, .2);
      }
      .nome {
        margin-top: 1rem;
        color: $primary-dark;
        display: flex;

        .badge {
          margin-left: .5rem;
          color: $white;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #col-5 {
    flex: 1 !important;
    max-width: 100% !important;
  }

  .col.showhide {
    display: none;
  }
  .profile {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0;
    padding: 10rem 1rem 1rem 1rem;

    &.dt .close button svg{
      fill: $white;
    }

    .close {
      display: flex;
      position: absolute;
      top: 5rem;
      right: 2rem;
      width: 64px;
      height: 64px;

      button {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;

        svg {
          fill: $primary-dark;
        }
      }
    }

    &.showhide {
      display: none;
    }

    .tabs {
      margin-top: 4rem;

      .tab dl.row {
        max-width: 75%;
      }
    }

    .tab-control-container {
      position: relative;
      top: 0;
    }
  }
}

@media (max-width: 640px) {
  .profile .tabs .tab dl.row{
    max-width: 100%;
  }
}