#pesquisa {
  &.dt {
    input {
      background: var(--aux3-dt);
      border-color: rgba($light-gray, .5);
      color: $white;

      &::placeholder {
        color: #6E6E6E;
      }
    }

    .input-group-append #pesquisarCandidato {
      background-color: var(--aux-dt);
      color: $primary;
      border-color: $primary;
    }
  }

  input {
    padding: 1rem 1.5rem;
    height: 64px;
    background-color: $light-gray;
    color: $primary-dark;

    &::placeholder {
      color: rgba($primary-dark, .5);
      font-family: "Roboto Condensed", sans-serif;
      letter-spacing: 0.0109rem;
    }
  }

  .input-group-append #pesquisarCandidato {
    background-color: $primary;
    color: $white;
    border-color: darken($primary, 15%);
  }
}