#tab-control-politicos {
  display: flex;
  border-radius: 8px 8px 0 0;
  border-bottom: none;

  &:not(.dt) {
    button.active {
      &#bons {
        border-color: rgba(#11c15c, .2);
      }
      &#ruins {
        border-color: rgba(#e98b8b, .2);
      }
    }
  }

  &.dt {
    button {
      background: var(--aux2-dt);
      color: #babdbe;

      &:not(.active) {
        color: #babdbe;
        background: var(--aux2-dt);
        border-color: #babdbe;
      }

      &.active {
        &#bons {
          background-color: #122119;
          color: #11c15c;
          border-color: #11c15c;
        }
        &#ruins {
          background-color: #211212;
          color: #e98b8b;
          border-color: #e98b8b;
        }
      }
    }
  }

  button {
    flex: 1;
    border-radius: 0;
    border-bottom: none;
    border-color: #e1e1e1;

    &.active {
      &#bons {
        background-color: #bfffdd;
        color: #085a2b;
        border-color: #085a2b;
      }
      &#ruins {
        background-color: #ffe4e4;
        color: #961c1c;
        border-color: #961c1c;
      }
    }

    &:first-child {
      border-radius: 6px 0 0 0;
    }
    &:last-child {
      border-radius: 0 6px 0 0;
    }

    &:not(.active) {
      background-color: $light-gray;
      color: #6D7274;
    }

  }
}