:root {
  --fc-wt: #212529;
  --fc-dt: #D0D1D3;
  --bg-wt: white;
  --bg-dt: #111111;
  --aux-dt:#1D1D1D;
  --aux2-dt: #2D2D2D;
  --aux3-dt: #353535;
  --aux-wt: #fafafa;
  --border-wt: #e1e1e1;
}

#body.dt {
  color: var(--fc-dt) !important;
  background-color: var(--bg-dt) !important;
}