// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
// Custom variables
$sidebar-padding: 1.25rem;
$light-gray: #fafafa;
$secondary-gray: #667285;
$primary-dark: #191B1C;
$white: #ffffff;
$link-color: red !default;
$primary: #007bff;
body {
    background-color: $white;
    font-family: "Roboto", sans-serif;
}

.badge {
    vertical-align: middle !important;
}

// Custom
@import "navbar";
@import "list";
@import "profile";
@import "site";
@import "container";
@import "tabs";
@import "theme";
@import "badges";
@import "filter";
@import "card";
@import "file";
@import "form_modal";
@import "modal";