// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/utilities/flex";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/utilities/display";
@import "../node_modules/bootstrap/scss/utilities/background";
@import "../node_modules/bootstrap/scss/utilities/screenreaders";
@import "../node_modules/bootstrap/scss/list-group";
// Remover import abaixo
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

// Custom variables
$sidebar-padding: 1.25rem;

//$light-gray: #F4F5F7;
$light-gray: #F2F2F2;
$secondary-gray: #6B778C;
$primary-dark: #091E42;

body {
    background-color: $light-gray;
}

// Custom
@import "sidebar";
@import "navbar";
@import "list";